<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tablero Tareas</title>

	<div th:insert="~{fragments/libsExtern :: cnd-libs}"></div>
<style>
    .center {
    text-align: center;
}
</style>
</head>

<body class="min-h-100 bg-gray-200">
	<!--   Componente fragment inyectado aqui  -->
	<div th:insert="~{fragments/navbarFragment :: navbar-principal}"></div>

	<div class=" container-fluid ">
		<main class="w-md-60 w-xl-80 px-5 py-10 bg-gray-200">

            <div class="mt-5" sec:authorize="isAuthenticated()">
                <h3 style="color: rgb(63, 64, 65);">Administra Tareas</h3>
            </div>

            <div sec:authorize="isAuthenticated()"
                  class="flex flex-col mt-10">
                <div class="py-2 overflow-x-auto">
                   <div  class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
                    <div class="card-body">
                        <table id="tableroTareas"
                            class="table-hover table-striped display w-100"
                            style="width:100%">
                        </table>
                    </div>
                </div>
            </div>
        </div>
	</div>

	</main>
	</div>
            <!-- Modal Bootstrap 5 editar ciudadano -->
            <div class="modal fade" id="editarTareaModal" tabindex="-1"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar Tarea</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Contenido del modal -->
                        <div id="tareasDetails"></div>
                    </div>
                </div>
            </div>
        </div>
                <!-- modal de confirmación para eliminar tarea -->
                <div class="modal fade" id="confirmarEliminarModal" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmar
                                Eliminación</h5>
                            <button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de que deseas eliminar esta tarea?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger"
                                id="btnConfirmarEliminar">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
                    <!-- Modal de Advertencia -->
        <div class="modal fade" id="modalAdvertencia" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Advertencia</h4>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p style="color: rgb(62, 56, 56); font-size: 19px;"
                        id="mensajeAdvertencia"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Entendido</button>
                </div>
            </div>
        </div>
    </div>
	<script th:src="@{/js/tareas/trableroTareas.js}"></script>
	<div th:insert="~{fragments/scriptFragment :: script-comun}"></div>
</body>

</html>